.friends-list {
    padding: 20px;
    background-color: themed("bgSoft");

    h2 {
        color: themed("textColorSoft");

        margin-bottom: 10px;
        font-size: 20px;
        font-weight: 500;
    }

    ul.friendsResults {
        position: relative;
        width: 100%;
        background-color: themed("bg");

        border: 1px solid themed("bg");

        max-height: 300px;
        overflow-y: auto;

        z-index: 100;

        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

        padding: 10px 0px;

        .searchResultItem {
            display: flex;
            align-items: center;

            padding: 10px;

            margin-bottom: 5px;

            box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;

            background-color: themed("bg");

            color: themed("textColor");

            border-radius: 10px;

            transition: background-color 0.2s;

            text-decoration: none;

            a {
                text-decoration: none;
                color: themed("textColor");

                display: flex;
                align-items: center;

                img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    margin-right: 10px;
                    object-fit: cover;
                }

                span {
                    font-size: 18px;
                }
            }
        }

        .searchResultItem:hover {
            background-color: themed("bgSoft");

            cursor: pointer;
        }
    }
}